body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  /* background-color: grey; */
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 105vh;
  width: 100vw;
}

.list-container {
  width: 60%;
  background-color: white; /* for testing purposeses &*/
}

.list-container li {
  padding: 15px;
  background-color: rgb(10, 10, 10);
  box-shadow: 0 15px 40px rgb(5, 5, 5);
  list-style: none;
  font-size: 2em;
  border-radius: 12px;
}

/* .list-container li div { */
.list-container li .item-container {
  background-color: white;
  display: flex;
  margin-top: 5px;
  cursor: pointer;
  /* box-sizing: border-box; */
}

.item-id {
  background-color: red;
}

.list-container li div:hover {
  content: "";
  top: 0;
  left: 20px;
  width: 100%;
  z-index: 9;
  background: red;
}

.list-container li div img {
  border-radius: 20px;
  margin-left: 10px;
  max-width: 100%;
  height: 100px;
  margin-top: 10px;
}

.item-name {
  /* margin-top: 50px; */
  /* height: 100%; */
  padding: 10px;
  margin-right: 10px;
  background-color: green; /* FOR TESTING */
}
